{% load static %}
<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light linear-gradient">
        <div class="col-7" align="center">
            <h1 class="navbar-brand" style="font-size:300%;">LITReview</h1>
        </div>
        <div class="col-5">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link nav-text" href="flux">Flux</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-text" href="posts">Posts</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-text" href="following">Following</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-text" href="logout">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


