{% load static %}
<div style="padding-top:25px;padding-bottom:25px;">
    <div class="card">
        <div class="card-header">
            <h5>{{ticket.user}} publié un ticket</h5>
            <p>{{ticket.time_created}}</p>
        </div>
        <div class="card-body">
            <h5 style="padding-bottom:10px;">{{ticket.title}}</h5>
            <p class="card-text">{{ticket.description}}</p>
            {% if ticket.image %}
                <img src="{{ MEDIA_URL }}{{ticket.image.name}}" class="card-img-top" style="width:10%;height:auto;">
            {% endif %}
            {% if not my_ticket %}
                {% if not ticket.review_exists and not in_review %}
                    <div align="end">
                        <a href="creation_review?id_ticket={{ticket.id}}"><button class="btn btn-primary">Créer une critique</button></a>
                    </div>
                {% endif %}
            {% else %}
                {% if modification %}
                    <div class="row" style="margin:25px;">
                        <div class="col-11" align="end">
                            <a href="modification_ticket?id={{ticket.id}}"><button class="btn btn-primary" type="button">Modifier</button></a>
                        </div>
                        <div class="col-1" align="start">
                            <a href="posts?delete_id_ticket={{ticket.id}}"><button class="btn btn-secondary" type="button">Supprimer</button></a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>